@import'../../../styles/variables.scss';
.attendanceCss{
  margin: $yMargin 0;
}
.headerCss{
  display: flex;
}
.pickerCss{
  margin-left:120px;
}
.contentCss{
  margin-top:40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.itemBoxCss{
  border: 1px solid $divider;
  display: flex;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 250px;
  align-items: center;
  justify-content: center;
  height: 250px;
  line-height: 2;
  text-align: center;
  border-radius: $radiusSize;
}
.textCss{
  color:$warning;
}