@import'../../../styles/variable.scss';
.entryBox{
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}
.itemBox{
  width: 120px;
  text-align: center;
  line-height: 60px;
  color:#fff;
  height: 60px;
  background: $primary;
  border-radius: 6px;
}