@import'../../../styles/variables.scss';
.entryBox{
  display: flex;
  margin: $yMargin 0;
}
.itemBox{
  margin-right:20px;
  width: 120px;
  text-align: center;
  line-height: 60px;
  color:#fff;
  height: 60px;
  background: $primary;
  border-radius: $radiusSize;
}