@import'../../styles/variables.scss';
.menu{
  border-radius: $radiusSize;
  width: 200px;
  padding: 15px 0;
  line-height: 2.6;
  overflow: hidden;
  overflow-y: scroll;
  color: $grayText;
}
.menuTitle{
  padding-left: 20px;
}
.menuItem{
  padding-left: 35px;
  &:hover{
    cursor: pointer;
    color:$lightPrimary;
  }
}
.activeItem{
  color:$primary;
  font-weight: 600;
}