@import'../../styles/variables.scss';
.entryBox{
  display: flex;
  margin: $yMargin 0;
}
.itemBox{
  margin-right:20px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border-radius: $radiusSize;
  &:hover{
    color:$primary;
  }
}